@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

html,
body {
  background: #010000;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 10pt;
  height: 100%;
}
html,
body {
  overflow: hidden;
}

h3 {
  font-size: 10px;
}

h1 {
  font-size: 35px;
  color: rgb(233, 219, 219);
  font-weight: 700;
}

.btns-prev-next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  width: 120px;
  height: 30px;
  padding: 0.4em;
  border-radius: 30px;
  cursor: pointer;
}

.user-name-text {
  font-size: 0.7rem;
}

.btn-prev,
.btn-next {
  cursor: pointer;
  margin-inline: 0.3em;
}

.img-btn {
  height: 22px;
}
.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 3px;
}

#artist-midScreen {
  width: 330px;
}

#album-container {
  height: 240px;
}

#artist-topRec {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(86, 28, 73, 1) 26%,
    rgba(70, 36, 68, 1) 18%,
    rgb(11, 12, 12, 1) 36%
  );
}

#profile-top-navbar {
  padding-inline: 0;
  margin-inline: auto;
  position: sticky;
  top: 0;
  z-index: 1;
}

#profile-avatar {
  color: white;
  background-color: #0a0a0a;
  width: 150px;
  height: 50px;
  padding: 5px;
  display: flex;
  font-size: 1.4em;
  border-radius: 50px;
  justify-content: space-between;
  padding-inline-end: 10px;
}

.back-icon,
.forward-icon {
  background-color: black;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.back-forward-icon {
  width: 90px;
  justify-content: space-between;
}

.artist-info-banner {
  font-size: 10px;
}

#NavBar {
  font-family: "Montserrat", sans-serif;
  width: 270px;
  height: 795px;
  left: 0px;
  top: 1px;
  background-color: #000000;
}

.bg-test {
  color: white;
  width: 100%;
}

.navbar-icon-square {
  height: 24px;
  width: 24px;
  background-color: #b2b2b2;
}

#navbar-liked-songs {
  background: linear-gradient(
    135deg,
    #4000f4 0%,
    #603aed 22.48%,
    #7c6ee6 46.93%,
    #979fe1 65.71%,
    #a2b3de 77.68%,
    #adc8dc 88.93%,
    #c0ecd7 100%
  );
  border-radius: 1px;
}

.tracklist-title {
  display: flex;
  width: 98%;
  margin-inline: auto;
  justify-content: space-between;
  border-bottom: 1px rgb(227, 241, 255);
}

.navbar-selected {
  height: 50px;
  border-radius: 6px;
}

.navbar-selected:hover {
  cursor: pointer;
  background-color: #282828;
  height: 50px;
  border-radius: 6px;
}

.title-artist {
  font-size: 5rem;
}

hr {
  width: 96%;
  margin-inline: auto;
  background-color: #30262c;
}

.bottom-container {
  background-color: #282828;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-inline: 30px;
  color: white;
  justify-content: space-between;
  z-index: 1;
}

.playing {
  align-items: center;
}
.playing-title {
  margin-inline: 20px;
}

.player,
.player-bar {
  align-items: center;
}

.player-bar {
  width: 600px;
  justify-content: space-evenly;
}

.progress {
  width: 500px;
  height: 5px;
  background-color: #535353;
}
.progress-bar {
  background-color: #ffffff;
}
.player-icons {
  width: 250px;
}
