@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  position: relative;
  background-image: linear-gradient(
    180deg,
    #222222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    rgba(18, 18, 18, 1) 100%
  );

  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1360px;
  overflow: scroll;
  height: 100vh;
}

#profile-top-navbar {
  padding-inline: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-bar {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 301px;
}

h2 {
  color: white;
  margin-block-start: 65px;
}

#profile-avatar {
  color: white;
  background-color: #0a0a0a;
  width: 150px;
  height: 50px;
  padding: 5px;
  display: flex;
  font-size: 1.4em;
  border-radius: 50px;
  justify-content: space-between;
  padding-inline-end: 10px;
}

.back-icon,
.forward-icon {
  background-color: black;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.back-forward-icon {
  width: 90px;
  justify-content: space-between;
}
.top-card-title {
  color: white;
}
.top-cards {
  background-color: #303030;
  height: 10vh;
  width: 300px;
  align-items: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  height: 90px;
}

.top-card-image-icon {
  background-image: linear-gradient(
    135deg,
    #4000f4 0%,
    #603aed 22.48%,
    #7c6ee6 46.93%,
    #979fe1 65.71%,
    #a2b3de 77.68%,
    #adc8dc 88.93%,
    #c0ecd7 100%
  );
  height: 100%;
  width: 100px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
}
.top-card-image-icon img {
  width: 30px;
}
.top-card-title h5 {
  margin-inline-start: 20px;
  margin-bottom: 0;
}
.top-card-title {
  position: absolute;
  left: 100px;
}
.row {
  row-gap: 2vh;
}

.card {
  padding: 10px;
  background-color: #181818;
  border-radius: 5px;
  color: white;
}
.card-title {
  color: white;
  margin: 0;
  font-size: 1.1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-text {
  color: #b3b3b3;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9em;
  margin-block: 5px;
}

.bottom-container {
  background-color: #282828;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-inline: 30px;
  color: white;
  justify-content: space-between;
  z-index: 1;
}

.playing {
  align-items: center;
}
.playing-title {
  margin-inline: 20px;
}

.player,
.player-bar {
  align-items: center;
}

.player-bar {
  width: 600px;
  justify-content: space-evenly;
}

.progress {
  width: 500px;
  height: 5px;
  background-color: #535353;
}
.progress-bar {
  background-color: #ffffff;
}
.player-icons {
  width: 250px;
}
#NavBar {
  width: 270px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #000000;
}

.bg-test {
  color: white;
  width: 100%;
}

.navbar-icon-square {
  height: 24px;
  width: 24px;
  background-color: #b2b2b2;
}

#navbar-liked-songs {
  background: linear-gradient(135deg, #4000f4 0%, #603aed 22.48%, #7c6ee6 46.93%, #979fe1 65.71%, #a2b3de 77.68%, #adc8dc 88.93%, #c0ecd7 100%);
  border-radius: 1px;
}

.navbar-selected {
  height: 50px;
  border-radius: 6px;
}

.navbar-selected:hover {
  cursor: pointer;
  background-color: #282828;
  height: 50px;
  border-radius: 6px;
}

#artist-page {
  color: white;
  flex-grow: 1;
  height: 100vh;
  background-color: gray;
}

#artist-img {
  background-color: blue;
  height: 45%;
}

#side-bar-place-holder {
  width: 270px;
  height: 100vh;
  background-color: #000000;
}

#artist-songs {
  width: 100%;
  background: linear-gradient(180deg, rgba(88, 88, 88, 1) 0%, rgba(88, 88, 88, 1) 25%, rgba(18, 18, 18, 1) 55%);
}

#play-button-row {
  /* background-color: white; */
  height: 100px;
  width: 100%;
}

.song-img {
  width: 30px;
  height: 30px;
  background-color: #fff;
}

#artist-pick-img {
  height: 70px;
  width: 70px;
  background-color: #fff;
}
